.selectSizeContainer {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.selectSize{
    width: 100%;
    margin-inline: auto;
    border-radius: 0;
    height: 2.5rem;
    background-color: #f3f3f3;
}
